@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
  :root {
    --navigation-height: 4.8rem;
    --primary-dark: #000d21;
    --primary-mid-dark: #001736;
    --primary-mid-light: #00204c;
    --primary-light: #002b63;
    --secondary-light: #003479;
    --tertiary-light: #003f90;
    --error: #ff1a1a;
    --success: #1aff1a;
  }

  html {
    @apply bg-background font-sans text-off-white;
    font-size: 62.5%;
    background: 
      radial-gradient(circle at 50% 50%, var(--primary-dark), var(--primary-mid-dark) 30%, var(--primary-mid-light) 60%, var(--primary-light) 90%, var(--secondary-light)),
      linear-gradient(to right, var(--primary-dark), var(--primary-mid-dark), var(--primary-mid-light), var(--primary-light), var(--secondary-light), var(--tertiary-light));
    background-blend-mode: screen;
  }

  .highlighted-keys .active rect:first-child {
    fill-opacity: 0.4;
  }

  .highlighted-keys .active rect:not(:first-child) {
    stroke-opacity: 1;
  }

  .highlighted-keys .active path {
    fill-opacity: 1;
  }

  .btn {
    @apply inline-flex items-center justify-center px-5 py-3 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-primary-light transition ease-in-out duration-150;
  }

  .btn:hover,
  .btn:focus {
    @apply transform scale-105;
  }

  .grid {
    @apply grid grid-cols-1 gap-4;
  }

  @media (min-width: 640px) {
    .grid {
      @apply grid-cols-2;
    }
  }

  @media (min-width: 1024px) {
    .grid {
      @apply grid-cols-3;
    }
  }
}

@layer utilities {
  .text-shadow {
    text-shadow: rgb(0 0 0 / 56%) 0px 3px 12px;
  }

  .text-gradient {
    background: linear-gradient(to right, var(--primary-dark), var(--primary-mid-dark), var(--primary-mid-light), var(--primary-light), var(--secondary-light), var(--tertiary-light));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }

  .mask-radial-faded {
    mask-image: radial-gradient(circle at center center, black, transparent 80%)
  }

  .mask-linear-faded {
    mask-image: linear-gradient(black, transparent 70%)
  }

  .mask-keyboard {
    mask-image: linear-gradient(transparent 0%, rgba(0, 0, 0, 0.57) 33.98%, black 100%);
  }

  .mask-shortcutkeys {
    mask-image: linear-gradient(to right, transparent, black 40%, black calc(60%), transparent 100%);
  }

  .transition-all {
    transition: all 0.25s ease-in-out;
  }

  .has-tooltip:after {
    @apply bg-black text-white text-xs rounded py-1 px-4 absolute;
    content: attr(data-tooltip);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s;
    right: -120%;
  }

  .has-tooltip:hover:after {
    visibility: visible;
    opacity: 1;
  }
}
